//Color Palette
$primary-color: rgb(49,50,52);
$secondary-color: rgb(43, 72, 101);
$complementary-color: rgb(143, 227, 207);
$white-color: rgb(240,242,243);

//Font Family
$font-stack: Helvetica, sans-serif;

